@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size-xs;
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $blue;
}

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  strong {
    color: currentColor;
  }
}
