// Font sizes
$font-size-xxxs: rem(12);
$font-size-xxs: rem(14);
$font-size-xs: rem(16);
$font-size-sm: rem(20);
$font-size-md: rem(24);
$font-size-lg: rem(32);
$font-size-xl: rem(40);
$font-size-xxl: rem(48);
$font-size-display: rem(64);

// Font weights
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
